<article class="patreon">
    <p><strong><a href="https://www.patreon.com/c/Hypogeum">Support Hypogeum on Patreon</a> to keep the project growing</strong>.</p>
    <p>Your support keeps the tunnels open.</p>
</article>
