---
pagination:
    data: collections.post
    alias: posts
    size: 10
    reverse: true
---

{% extends '_layouts/base.njk' %}

{% block content %}
    {%- for post in posts -%}
        <article>
            <h1>{{ post.data.title }}</h1>
            {{ post.content | safe }}
            <a class="permalink" href="{{ post.url }}">
                <time datetime="{{ post.data.date.toISOString() }}">
                    {{ post.data.date.toLocaleString('en-GB', {
                        year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'
                    }) }}</time>
            </a>
        </article>
    {%- endfor -%}

    <nav class="footer">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">Previous {{ pagination.size }}</a>
        {% else %}
            Previous {{ pagination.size }}
        {% endif %}
        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Next {{ pagination.size }}</a>
        {% else %}
            Next {{ pagination.size }}
        {% endif %}
    </nav>

{% endblock %}