{% extends '_layouts/base.njk' %}

{% block content %}
    {%- for post in collections.post | reverse -%}
        <section>
            <h1>{{ post.data.title }}</h1>
            {{ post.content | safe }}
            <time datetime="{{ post.data.date.toISOString() }}">{{ post.data.date.toLocaleString('hu-HU', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) }}</time>
        </section>
    {%- endfor -%}
{% endblock %}