{% extends '_layouts/base.njk' %}

{% block meta %}
    <meta property="og:title" content="Hypogeum ※ {{ title }}">
{% endblock %}

{% block content %}
    <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
        <time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleString('en-GB', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) }}</time>
    </article>
{% endblock %}