{% extends '_layouts/base.njk' %}

{% block meta %}
    <meta property="og:title" content="Hypogeum ※ {{ title }}">
{% endblock %}

{% block content %}
    <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
        <time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleString('en-GB', { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) }}</time>
        <p class="tags">
            {%- for tag in tags -%}
                {% if tag != "post" %}
                    <span class="tag">{{ tag }}</span>
                {% endif %}
            {%- endfor -%}
        </p>
    </article>
{% endblock %}