@font-face {
    font-family: 'JSL-Ancient-Italic';
    src:url('JSL-Ancient-Italic.ttf.woff') format('woff'),
        url('JSL-Ancient-Italic.ttf.svg#JSL-Ancient-Italic') format('svg'),
        url('JSL-Ancient-Italic.ttf.eot'),
        url('JSL-Ancient-Italic.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: 300;
  }

:root {
  --link-color: oklch(0.3265 0.1307 262.59);
  --base-size: 1rem;
  --step: 1.25;
  --font-s: calc(var(--base-size) / var(--step));
  --font-m: var(--base-size);
  --font-l: calc(var(--font-m) * var(--step));
  --font-xl: calc(var(--font-l) * var(--step));
  --font-2xl: calc(var(--font-xl) * var(--step));
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

header {
  background: oklch(0.14 0 0);
  color: oklch(0.96 0 0);
  padding-block-start: 1rem;
  text-align: center;

  h1,
  h2 {
    font-family: 'JSL-Ancient-Italic';
  }

  h1 {
    font-size: var(--font-2xl);
    margin-block: 1rem;
  }

  h2 {
    font-size: var(--font-xl);
    padding-block-end: 1rem;
  }

  nav {
    background: white;
    color: black;
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
}

main {
  font-size: var(--font-m);
  margin: 2rem auto;
  margin-block-start: 1rem;
  width: min(90dvw, 75rem);

  h1 {
    border-block-end: 1px solid black;
    font-size: var(--font-l);
    margin-block-end: 2rem;
    padding-block-end: 0.5rem;
  }
}

article {
  break-inside: avoid;
  margin-block-end: 2rem;

  h1 {
    border: none;
    font-size: var(--font-xl);
    margin: 0;
  }

  .article-end {
    text-align: center;
    width: 95%;
  }
}

section {
  columns: 1;

  @media (min-width: 48rem) {
    columns: 2;
  }

  @media (min-width: 64rem) {
    columns: 3;
  }
}

a,
a:visited {
  color: var(--link-color);
}